<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>HomePage</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

                <div class="container py-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                                <h2 class="h4 m-0">Latest Blogs</h2>
                                <% if (locals.user) { %>
                                    <a class="btn btn-primary btn-sm" href="/blog/add-new">New Post</a>
                                <% } %>
                        </div>
                        <div class="row g-4">
                                <% blogs.forEach(blog=> { %>
                                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                            <div class="card h-100 shadow-sm blog-card">
                                                <div class="ratio ratio-16x9 bg-light">
                                                    <img src="<%= blog.coverImageURL %>" class="object-fit-cover rounded-top" alt="cover">
                                                </div>
                                                <div class="card-body d-flex flex-column">
                                                        <h5 class="card-title text-truncate" title="<%= blog.title %>"><%= blog.title %></h5>
                                                        <p class="card-text text-muted small mb-3">
                                                            <%= (blog.body || '').replace(/\n/g,' ').slice(0, 120) %><%= (blog.body && blog.body.length>120) ? '…' : '' %>
                                                        </p>
                                                        <div class="mt-auto d-flex justify-content-between align-items-center">
                                                            <a href="/blog/<%= blog._id %>" class="btn btn-outline-primary btn-sm">Read more</a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                <% }) %>
                        </div>
                </div>





        <!-- <%= JSON.stringify(blogs) %> -->
        <%- include('./partials/scripts.ejs') %>
</body>

</html>